@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Instrument+Serif&display=swap');

:root{
    --heading-font: "Bruno Ace SC";
    --paragraph-font: "Insrument Serif", Helvetica, sans-serif;
}

.home-title{
    font-family: var(--heading-font), sans-serif;
    font-size: 2em;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color: #A25379;
    color:white
}

#hero-img{
    width: 100%;
}
#hero-msg h1{
    text-align: center;
    color:white
}
#hero-msg h4{
    text-align: center;
    color:aqua
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color: #2E5876;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header{
    background-color: #E3B426;
}

.book{
    background-color: #A25379;
    text-decoration: none;
    font-size: 18px;
}
.book:hover{
    background-color: #E3B426;
    color:black
}

.join{
    background-color: #A25379;
    text-decoration: none;
    font-size: 18px;
}
.join:hover{
    background-color: #E3B426;
    color:black
}

#background{
    background-color: #A25379;
}

.msg{
    background-color: #414E2D;
    line-height: 1.5em;
}
.msg h2{
    color:white;
    font-family: var(--heading-font);
}
.msg p{
    color:#E3B426;
    font-size: .8em;
}

footer{
    background-color: #414E2D;
    color:#E3B426;
}
footer a{
    color: aqua;
    text-decoration: none;
}
footer a:hover{
    color: #E3B426
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px
}