body footer{
    max-width: 400px;
    text-align: center;
}

img{
    max-width: 400px;
    width: 100%;
    text-align: center;
}

p{max-width: 400px;
text-align: center;}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: darkblue;
    color: white;
    text-align: center;
}